source https://api.nuget.org/v3/index.json
generate_load_scripts: true
storage: none
framework: net5.0

nuget Fsharp.Core redirects: force
nuget NodaTime
nuget Saturn
nuget MongoDB.Driver
nuget TaskBuilder.fs

group Test
source https://api.nuget.org/v3/index.json
generate_load_scripts: true
framework: net5.0

nuget Expecto.FsCheck
nuget Fsharp.Core redirects: force
nuget Expecto
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk